#chatOSSvadbaHelper{
	position:absolute;
	right: 17px;
	height: auto;
	border-radius: 5px;
	width: 200px;
	border: 2px solid #888;
	z-index: 999;
	background-color: #fff;
	font-family: arial;
}

#helperHeader{
	background-color: #5CB85C;
	padding: 5px;
}

#helperHeader h5{
	text-align: center;
}

#helperBody{
	padding: 5px;
}

#helperBody .buttons{
	width: calc(100% - 24px);
	text-align: center;
	margin: 5px 0px;
}

.smallHelperText{
	font-size: 11px;
}

.closeHelper{
	position: absolute;
	top: 4px;
	display: block;
	width: 14px;
	height: 14px;
	z-index: 2;
	cursor: pointer;
	right: 3px;
	background: url(http://account.chatoptimizer.com/media/ext/media/img/modal_close.png);
}

.buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding: 7px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	cursor: pointer;
}.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.buttons:active {
	position:relative;
	top:1px;
}
